.bottom-part{
    font-family: Verdana,Geneva,sans-serif;
    background: white;
    height: 80px;
    width: 100%;
    border-top: 1px  solid #213D4B;
}

.sm{
    margin-top: 1%;
    display: flex;
    justify-content: space-evenly;
    color: #1A3343;
}

.text{
    color: #1A3343;
    padding-top: 5px;
}

