.footer {
  font-family: Verdana,Geneva,sans-serif;
  color: #1A3343;
  background: white;
  height: 60px;
  width: 100%;
  border-top: 1px solid rgb(202, 201, 201);
}

.sm {
  margin-top: 1%;
  display: flex;
  justify-content: space-evenly;
}

.text {
  padding-top: 5px;
}

#edamam-badge {
}