.home-container{
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: url(../images/32.jpg);
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
   z-index: -1;
}


/* .h2text{
  font-size: 50px; 
  color: white;
  margin-top: 2%;
  
  font-family: "Proxima", Arial, Helvetica, sans-serif;
} */

.tagline{
  font-size: 40px; 
  color: rgb(224, 221, 204);
  margin-top: 2%;
  font-family:'Great Vibes', Helvetica, sans-serif;
  /* font-family: "Proxima", Arial, Helvetica, sans-serif; */
}

.slide{
  
  font-size: 42px;
   color: white;
   font-family: "Proxima", Arial, Helvetica, sans-serif;
   text-shadow: -2px 0 #330A75, 0 2px #330A75, 2px 0 #330A75, 0 -2px #330A75;
}

.noneed{
   margin-top: 5%;
  font-size: 25px; 
  color: rgb(224, 221, 204);
  margin-bottom: 5%; 
  font-family: "Proxima", Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px rgba(0,0,0,.2);
}

.start{
  border: 1px solid #0E6ACB;
  border-radius: 4px;
  color: #320A75;
  background: white;
  font-size: 17px;
  padding: 5px;
  font-family: "Proxima", Arial, Helvetica, sans-serif;
}


.start:hover { 
    background-color: #320A75;
    color: white;
}

