body {
  font-family: Istok Web;
  color: #31017a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, nav {
  font-family: Playfair Display;
  color: #0d86e2;
}
