header {
  background-color: #ffffff;
  height: 60px;
  /* vertical-align: center; */
  border-bottom: 1px solid rgb(202, 201, 201);
}

.nav-bar {
  margin: auto;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo{

 width: 42px;
 height: 42px;
 margin-top: 8px;
}

.nav-link {
  padding: 10px;
  margin: 10px;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 20px;
  background-color: #564079;
  color: #ffffff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;


}

.nav-link2{
  margin-top: 10px;
  color: #320A75;
  font-size: 25px;
  font-family: 'Baloo Bhaijaan', cursive;
  /* margin-right: 50%; */

}



.nav-link:hover {
  background-color: #31017a;
  color: #ffffff;
}


.h2text{
  font-size: 25px;
  color: white;
  margin-top: 1%;
  font-family: "Proxima", Arial, Helvetica, sans-serif;
}

.signup {
  padding: 12px;
  margin: 10px;
  font-size: 25px;
  background-color: #31017a;
  color: #f0f720;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 5%;
}

.firstpart{
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  margin-left: 16px;
}

.midpart{
  margin-left:16px;
}

.secondpart{
      display: flex;
      margin-right: 16px;
      margin-left: 16px;
}

@media screen and (max-width: 750px){
  .logo{
    display: none;
  }
}
@media screen and (max-width: 650px){
  header{
    height: 100px;
  }
}

@media screen and (max-width: 430px){
  header{
    height: 150px;
  }
}

@media screen and (max-width: 370px){
  header{
    height: 210px;
  }
}