header {
  background-color: #ffffff;
  height: 60px;
  vertical-align: center;
  border-bottom: 1px solid rgb(202, 201, 201);
}

.nav-bar {
  margin: auto;
  height: 60px;
  display: flex;
  width: 90%;
  min-width: 550px;
}

.logo{

 width: 10%;
 height: 100%;
 padding-top: 1px;
}

.nav-link {
  padding: 12px;
  margin: 10px;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 20px;
  background-color: #564079;
  color: #ffffff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;


}

.nav-link2{
  margin-top: 10px;
  color: #320A75;
  font-size: 25px;
  font-family: 'Baloo Bhaijaan', cursive;
  /* margin-right: 50%; */

}



.nav-link:hover {
  background-color: #31017a;
  color: #ffffff;
}


.h2text{
  font-size: 25px;
  color: white;
  margin-top: 1%;

  font-family: "Proxima", Arial, Helvetica, sans-serif;
}

.signup{
  padding: 12px;
  margin: 10px;
  font-size: 25px;
  background-color: #31017a;
  color: #f0f720;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 5%;
}

.firstpart{
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
}

.secondpart{
      width: 50%;
      display: flex;
      justify-content: flex-end;
}
