html, body, header, nav, h1, h2, h3, ul, li,
main, button, section, img, div, p, a, form, label,
input, textarea, span, footer {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

html {
  height: 100%;
}

body {
  font-family: Istok Web;
  color: #31017a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}


header, nav, main, section,
footer {
  display: block;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

group:after {
  content: "";
  display: block;
  clear: both;
}

#root {
  height: 100%;
}