.recipe-list-page {
  background: rgb(247, 247, 247);
}

.favorite-recipe {
  font-family: Verdana,Geneva,sans-serif;
  font-size: 46px;
  padding-top: 40px;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15); 
}

.recipe-list {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.search-results-index-item {
  margin-top: 50px;
  margin-bottom: 50px;
  align-self: center;
  justify-self: center;
}

@media (max-width: 1250px) {
  .recipe-list {
    grid-template-columns: 50% 50%;
  }

  .search-results-index-item {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 800px) {
  .recipe-list {
    grid-template-columns: 100%;
  }
}

@media (max-width: 600px) {
  .favorite-recipe {
    font-size: 38px;
  }
}

.search-results-index-item:hover {
  color: #4286f4;
  transform: scale(1.02);
}

.search-results-index-item a {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.recipe-img {
  width: 335px;
  height: auto;
  margin: auto;
  border-radius: 3px;
}

.recipe-img:hover {

}

.recipe-label {
  font-family: Verdana,Geneva,sans-serif;
  font-size: 27px;
  width: 335px;
  margin: auto;
}
