.session-form-outer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  background-image: url(../images/baking-bread-cooking.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.loginFormContainer {
  background: #E8F0FD;
  display: flex;
  flex-direction: column;
  width: 650px;
  height: 360px;
  align-self: center;
  margin: auto;
}

.loginFormContainer input {
  display: flex;
  margin: auto;
  width: 50%;
  height: 2%;
  flex-direction: column;
  padding: 4%;
  margin-bottom: 5%;
  text-align: left;
  margin-top: 1%;
  border: 1px solid #0E6ACB;
  border-radius: 4px;
}

.loginFormContainer label {
  margin-top: 2%;
  margin-left:22%;
  color: black; 
  margin-bottom: 1%;
  text-align: left;
}

.session-button {
  padding-top: 1px;
  padding-bottom: 1px;
  width: 30%;
  border: 1px solid #0E6ACB;
  border-radius: 4px;
  height: 7vh;
  color: #0E6ACB;
  background: white;
  font-size: 1em;
}

.session-button:hover { 
  background-color: #0E6ACB;
  color: white;
}

.session-submit {
  display: flex;
  justify-content: space-evenly;
}

.session-demo {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .session-form-outer {
    display: block;
    overflow: hidden;
  }

  .loginFormContainer {
    margin-top: 30px;
  }
}
