.session-form-outer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  background-image: url(../images/baking-bread-cooking.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.loginFormContainer {
  background: antiquewhite;
    display: flex;
    flex-direction: column;

    min-width:300px;
    align-self: center;
    margin: auto;
    padding: 8px;
    padding-top: 32px;
    padding-bottom: 6%;
    border-radius: 12px;
}

.loginFormContainer input {
  display: flex;
  margin: auto;
  width: 50%;
  height: 2%;
  flex-direction: column;
  padding: 4%;
  margin-bottom: 5%;
  text-align: left;
  margin-top: 1%;
  border: 1px solid #0E6ACB;
  border-radius: 4px;
}

.loginFormContainer label {
    margin-top: 2%;
    margin-left: 21%;
    color: black;
    margin-bottom: 1%;
    background-color: rgb(255,255,255,0.8);
    width: 57%;
    padding: 3px;
    padding-left: 2px;
    border-radius: 2px;
    text-align: left;
}

.session-button {
  padding-top: 1px;
  padding-bottom: 1px;
  width: 30%;
  border: 1px solid #0E6ACB;
  border-radius: 4px;
  height: 7vh;
  color: #0E6ACB;
  background: white;
  font-size: 1em;
}

.session-button:hover { 
  background-color: #0E6ACB;
  color: white;
}

.session-submit {
  display: flex;
  justify-content: space-evenly;
  margin-top: 12%;
}


.session-demo {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .session-form-outer {
    /* display: block; */
    /* overflow: hidden; */
  }

  .loginFormContainer {
    margin-top: 30px;
  }
}

@media (min-width: 1000px){
.session-submit {
  margin-top: 2%;
}
}
@media (max-width: 600px){
  .session-submit{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 4%;
  }
  .session-button{
    margin-top: 8px;
  }
  .loginFormContainer {
    height: 360px;
  }
}